/* General Styles */
:root {
    --bg-color: #000011;
    --text-color: #c9c9c9;
    --accent-color-white: #ffffff;
    --accent-color-red: #ff0000;
    --accent-color-purple: #440080;
    --font-family: 'Nova Square', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-size: 1.30rem; /* Increased from 1.2rem to 1.38rem (15% increase) */
    color: var(--text-color);
    background-image: 
        radial-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0.547) 1px, transparent 10px),
        radial-gradient(rgb(255, 255, 255), rgba(115, 0, 255, 0.548) 1px, transparent 30px),
        radial-gradient(rgba(255, 255, 255, 0.952), rgba(144, 0, 255, 0.592) 2px, transparent 15px),
        radial-gradient(rgb(255, 0, 0), rgba(255, 0, 0, 0.277) 2px, transparent 25px);
    background-size: 632.5px 632.5px, 402.5px 402.5px, 287.5px 287.5px, 172.5px 172.5px; /* Increased sizes by 15% */
    animation: backgroundAnimation 15s ease-in-out infinite;
}

@keyframes backgroundAnimation {
    0% { background-position: 0 0, 46px 69px, 149px 310px, 81px 115px; } /* Adjusted positions by 15% */
    100% { background-position: 632.5px 632.5px, 448.5px 471.5px, 437px 598px, 253px 287.5px; } /* Adjusted positions by 15% */
}

/* Navbar Styles */
.navbar {
    background-color: rgba(0, 0, 17, 0.8);
    backdrop-filter: blur(20px);
}

.navbar-brand,
.navbar-nav .nav-link {
    color: var(--accent-color-white) !important;
    font-weight: bold;
    text-shadow: 0 0 5px var(--accent-color-white);
    transition: text-shadow 0.3s ease;
}

.navbar-nav .nav-link.active,
.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color:  var(--accent-color-white) !important;
    text-shadow: 0 0 25px var(--accent-color-white);
}

/* Section Styles */
.section {
    margin: 50px 0;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--accent-color-red);
    text-shadow: 0 0 5px var(--accent-color-red);
}

/* Main Section Styles */
.main-section {
    position: relative;
    padding: 150px 0;
    color: var(--text-color);
    text-align: center;
    overflow: hidden;
}

.main-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 
        radial-gradient(circle at center, rgba(255, 91, 91, 0.277) 0%, transparent 60%),
        linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%);
    z-index: 1;
}

.main-section .content {
    position: relative;
    z-index: 2;
}

.main-section h1,
.main-section h2,
.main-section h3 {
    margin-bottom: 40px;
    color: var(--text-color);

}

@keyframes glow {
    0% { text-shadow: 0 0 30px rgb(47, 0, 255), 0 0 15px #ffffff, 0 0 5px #000000; } /* Change to your desired color */
    100% { text-shadow: 0 0 30px rgb(47, 0, 255), 0 0 15px #ffffff, 0 0 5px #000000; } /* Change to your desired color */
}

.main-section h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    animation: glow 2s ease-in-out infinite alternate;
}

.main-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    animation: glow 2s ease-in-out infinite alternate;
    color: rgb(135, 64, 248)
}

.main-section h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    text-shadow: 0 0 35px rgb(160, 161, 253);
}



/* About Section Styles */
.about-section {
    padding: 50px 0;
    background: rgba(0, 0, 17, 0.7);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 50px rgba(0, 200, 255, 0.342);
}

.about-section h2 {
    color: var(--accent-color-white);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.913);
    font-size: 2rem;
    font-weight: bold; 
    font-family: 'Montserrat', sans-serif;
}

.about-section h3 {
    color: var(--accent-color-white);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.913);
    display: inline;
}

.about-section h4 {
    font-size: 1.4rem;
    margin-bottom: 15px;
    animation: glow 2s ease-in-out infinite alternate;
    color: rgb(178, 131, 254);
    display: inline;
}


.profile-picture {
    width: 350px;
    height: 350px;
    border-radius: 70%;
    border: 1px solid rgba(90, 75, 255, 0.645);
    box-shadow: 0 0 35px rgb(192, 171, 255);
    overflow: hidden;
    margin: 0 auto 40px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    width: 350px;
    height: 350px;
}


.text-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    color: var(--text-color);
    font-size: 1.2rem;
}


#about-me .ski-box {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
    padding: 1px;
    background-color: #000000be;
    transition: box-shadow 0.3s ease-in-out;
}

#about-me .ski-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 15px 20px;
    height: 100px;
    box-sizing: border-box;
    background-color: #0e0026be;
    color: rgb(186, 151, 255);
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold; 
    box-shadow: 0 0px 15px rgba(222, 195, 255, 0.905);
}

#about-me .ski-header:hover {
    box-shadow: 0 0 30px rgba(222, 195, 255, 0.905);
}

#about-me .ski-icon {
    font-size: 2rem;
    width: 24px;
    text-align: center;
    line-height: 1;
    color: #ffffffc6;
}

#about-me .ski-content {
    font-size: 1.2rem;
    display: none;
    margin-top: 10px;
    padding: 15px;
    color: rgba(235, 224, 248, 0.905);
    line-height: 1.6;
    overflow: hidden;
    text-align: left;
}

#about-me .ski-content h1 {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.905);
    text-shadow: 0 0 20px rgba(197, 170, 255, 0.913);
    margin-bottom: 15px;
    text-align: center;
}

@keyframes glow2 {
    0% { text-shadow: 0 0 7.5px rgb(47, 0, 255), 0 0 5px #ffffff, 0 0 5px #000000; } /* Change to your desired color */
    100% { text-shadow: 0 0 7.5px rgb(47, 0, 255), 0 0 5px #ffffff, 0 0 5px #000000; } /* Change to your desired color */
}

#about-me .ski-content h2 {
    font-size: 1.1rem;
    color: rgba(222, 195, 255, 0.905);
    animation: glow2 2s ease-in-out infinite alternate;
    margin-bottom: 15px;
    font-weight: bold;
    display: inline;
    text-align: center;
}

#about-me .ski-content h3 {
    font-size: 1.05rem;
    font-weight: bold;
    color: rgb(246, 238, 255);
    text-shadow: 0 0 0px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    display: inline;
}


#about-me .ski-content h5 {
    font-size: 1rem;
    display: inline;
}

#about-me .ski-content h6 {
    font-size: 0.9rem;
    font-weight: bold;
    color: rgb(203, 160, 255);
    text-shadow: 0 0 0px rgba(0, 0, 0, 0);
    margin-bottom: 10px;
    display: inline;
}


#about-me .social-icons img {
    width: 30px;
    height: auto;
    margin: 0 10px;
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: invert(100%) drop-shadow(0 0 15px rgb(176, 140, 255)) drop-shadow(0 0 10px rgb(161, 75, 253));
}

#about-me .social-icons img:hover {
    transform: scale(1.4);
}


/* Skills Section Styles */
#skills {
    background-color: rgba(17, 0, 0, 0.7);
    padding: 50px 0;
    backdrop-filter: blur(7px);
    color: var(--text-color); 
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.342);
}

#skills h2 {
    margin: 20px 0 40px;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: var(--accent-color-white);
    text-shadow: 0 0 25px rgb(255, 0, 0);
}


@keyframes glow3 {
    0% { text-shadow: 0 0 15px rgb(255, 0, 0), 0 0 7.5px #ffa8a8a1, 0 0 7.5px #000000ca; } /* Change to your desired color */
    100% { text-shadow: 0 0 15px rgb(255, 0, 0), 0 0 7.5px #ffa8a8a1, 0 0 7.5px #000000ca; } /* Change to your desired color */
}

#skills h3 {
    font-size: 1.3rem;
    color: rgb(252, 32, 32);
    animation: glow3 2s ease-in-out infinite alternate;
    display: inline;
    text-align: center;
}





.ski-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin: 0 auto 30px; 
    max-width: 800px;
    padding: 1px;
    background-color: #000000be;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
}


.ski-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 15px 20px;
    height: 100px;
    box-sizing: border-box;
    background-color: #1a0404be;
    box-shadow: 0 0 15px #ff1d1d;
    color: #ed8989;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 1.2rem;
    font-weight: bold; 
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.ski-header:hover {
    box-shadow: 0 0 30px #ff1d1d;
}

.ski-icon {
    font-size: 2rem;
    width: 24px;
    line-height: 1;
    text-align: center;
    color: #ffffffc6;
}


.ski-content {
    font-size: 1.2rem;
    display: none;
    margin-top: 10px;
    padding: 15px;
    color: #fdcaca;
    line-height: 1.6;
    overflow: hidden;
    text-align: left;
}


.ski-content h1 {
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.905);
    text-shadow: 0 0 20px rgba(197, 170, 255, 0.913);
    margin-bottom: 15px;
    text-align: center;
}

@keyframes glow4 {
    0% { text-shadow: 0 0 15px rgb(255, 0, 0), 0 0 7.5px #ffa8a8a1, 0 0 7.5px #000000ca; } /* Change to your desired color */
    100% { text-shadow: 0 0 15px rgb(255, 0, 0), 0 0 7.5px #ffa8a8a1, 0 0 7.5px #000000ca; } /* Change to your desired color */
}

.ski-content h2 {
    font-size: 1.1rem;
    color: rgba(222, 195, 255, 0.905);
    animation: glow4 2s ease-in-out infinite alternate;
    margin-bottom: 15px;
    font-weight: bold;
    display: inline;
    text-align: center;
}







/* Educations Section Styles */


.educations-section {
    padding: 50px 0;
    background: rgba(0, 0, 17, 0.7);
    backdrop-filter: blur(7px);
    box-shadow: 0 0 50px rgba(0, 200, 255, 0.342);
}

.educations-section h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-color-white);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.913);
}

.educations-container {
    padding: 50px;
    border-radius: 15px;
}

#educations .section-title {
    color: rgb(192, 171, 255);
    font-size: 2rem;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 2;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

#educations .project-title {
    color: rgb(113, 92, 179);
    font-size: 1.5rem;
    margin-bottom: 15px;
    z-index: 2;
    position: relative;
}

#educations .project-description {
    color: var(--text-color);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
}

#educations .view-concept-btn {
    background-color: transparent;
    color: #5d888c;
    border: 1px solid #164a33;
    padding: 6px 12px;
    font-size: 0.95rem;
    font-weight: normal;
    transition: background-color 0.3s, color 0.3s;
    z-index: 2;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin: 8px 0;
    border-radius: 4px;
}

#educations .view-concept-btn:hover {
    background-color: #0E2018;
    color: rgb(192, 171, 255);
}

/* Experiences Section Styles */

.experiences-section {
    background-color: rgba(17, 0, 0, 0.7);
    padding: 50px 0;
    backdrop-filter: blur(7px);
    color: var(--text-color); /* Changed text color to white */
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.342);
}

.experiences-section h2 {
    margin: 20px 0 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--accent-color-white);
    text-shadow: 0 0 15px rgba(255, 0, 0, 0.913);
}

.experiences-section h5 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 55px rgb(255, 0, 0);
    color: #b11f1f;
}

.timeline {
    width: 100%;
    background-color: #110000df;
    color: var(--text-color);
    padding: 30px 20px;
    border-radius: 55px;
}

.timeline ul {
    list-style-type: none;
    border-left: 1px solid #ff0000;
    padding: 10px 5px;
    box-shadow: 0 0 25px rgba(246, 0, 0, 0.5);
    border-radius: 25px;
}

.timeline ul li {
    padding: 20px 20px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
}

.timeline ul li span {
    display: inline-block;
    background-color: #2a0606;
    border-radius: 25px;
    padding: 2px 5px;
    font-size: 1.1rem;
    font-style: italic;
    text-align: center;
    box-shadow: 0 0 5px rgb(255, 0, 0); /* Added shadow */
}

.timeline ul li .content h3 {
    color: #ffffff;
    font-size: 1.2rem;
    padding-top: 5px;
}

.timeline ul li .content p {
    padding: 5px 0px 15px 0px;
    font-size: 1.2rem;
}

.timeline ul li:before {
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #460000;
    border-radius: 50%;
    left: -11px;
    top: 28px;
    transition: 0.5s;
}

.timeline ul li:hover {
    background-color: #110000df;
}

.timeline ul li:hover:before {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 2px #ff0000;
}

.article-link {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
}

.article-link:hover {
    color: #c91616;
}

/* Contact Section Styles */


.contact-section {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 50px 0;
    margin-top: 0px;
    color: #ffffff;
    background: 
        radial-gradient(circle at center, rgba(255, 91, 91, 0.277) 0%, transparent 60%),
        linear-gradient(to bottom, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%);
    
}

.contact-section h2 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bold;

    font-size: 2.5rem;

    animation: glow 2s ease-in-out infinite alternate;
    }
 
@keyframes glow {
    0% { text-shadow: 0 0 30px rgb(47, 0, 255), 0 0 15px #ffffff, 0 0 5px #000000; } /* Change to your desired color */
    100% { text-shadow: 0 0 30px rgb(47, 0, 255), 0 0 15px #ffffff, 0 0 5px #000000; } /* Change to your desired color */
}


.contact-section h4 {
    color: #ff0000;
    text-shadow: 2px 2px 10px #ff0000;
    font-size: 1rem;
}

.contact-description {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contact-section .social-icons {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.contact-section .social-icons img {
    width: 30px;
    height: auto;
    margin: 0 10px;
    filter: invert(10%) sepia(20%) saturate(700%) hue-rotate(95deg) brightness(70%) contrast(120%);
    transition: filter 0.3s ease, transform 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(255, 255, 255, 1)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.5));
}

.contact-section .social-icons img:hover {
    filter: drop-shadow(0 0 10px rgb(255, 0, 0)) drop-shadow(0 0 20px rgba(255, 255, 255, 0.7));
    transform: scale(1.3);
}



/* Responsive Styles */
@media (max-width: 768px) {
    .main-section h1 {
        font-size: 2rem;
    }
    .main-section h2 {
        font-size: 1.5rem;
    }
    .timeline {
        padding: 30px 5px 30px 10px;
    }
    .timeline ul li .content h3 {
        color: #0E2018;
        font-size: 1.2rem;
    }
}